# HashiCorp Vault Server Address
VAULT_ADDR=http://10.0.0.180:8200

# Vault Authentication Token (auto-populated upon initialization or manually supplied)
VAULT_TOKEN=

# KV v2 Secrets Engine Mount Path (default: secret)
VAULT_MOUNT=secret

# Vault Unseal Key Shard (auto-populated upon initialization or manually supplied)
VAULT_UNSEAL_KEY=
